{% extends 'basic.html' %}

{% block title %}
GNSS Experts
{% endblock %}

{% block css %}
<style>
.card{
  margin: 20px;
}
</style>
{% endblock %}

{% block body %}

{% load static %}

<div style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap;">
  <div class="card" style="width: 18rem;">
    <img src="{% static 'img/gnss-experts/1.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Dr. R.P. Singh</h5>
      <p class="card-text"><a href="https://www.iirs.gov.in/director-iirs">Linkedin</a></p>
      <a href="https://docs.google.com/spreadsheets/d/1RVgEe6BWJklgcuN0FLdZtS4k61j8pP1i1AuPLWI2bhg/edit?usp=sharing" class="btn btn-primary">Know More</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="{% static 'img/gnss-experts/2.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Dr. Anil Kumar</h5>
      <p class="card-text"><a href="https://www.iirs.gov.in/Anil-profile">Linkedin</a></p>
      <a href="https://docs.google.com/spreadsheets/d/1RVgEe6BWJklgcuN0FLdZtS4k61j8pP1i1AuPLWI2bhg/edit?usp=sharing" class="btn btn-primary">Know More</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="{% static 'img/gnss-experts/3.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Dr. Arijit Roy</h5>
      <p class="card-text"><a href="https://www.iirs.gov.in/Dr_Arijit_Roy">Linkedin</a></p>
      <a href="https://docs.google.com/spreadsheets/d/1RVgEe6BWJklgcuN0FLdZtS4k61j8pP1i1AuPLWI2bhg/edit?usp=sharing" class="btn btn-primary">Know More</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="{% static 'img/gnss-experts/4.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Dr. Harish Karnatak</h5>
      <p class="card-text"><a href="https://www.iirs.gov.in/Dr.Harish.C.Karnatak-profile">Linkedin</a></p>
      <a href="https://docs.google.com/spreadsheets/d/1RVgEe6BWJklgcuN0FLdZtS4k61j8pP1i1AuPLWI2bhg/edit?usp=sharing" class="btn btn-primary">Know More</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="{% static 'img/gnss-experts/5.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Dr. Vandita Srivastava</h5>
      <p class="card-text"><a href="https://www.iirs.gov.in/Ms_Vandita_Srivastava">Linkedin</a></p>
      <a href="https://docs.google.com/spreadsheets/d/1RVgEe6BWJklgcuN0FLdZtS4k61j8pP1i1AuPLWI2bhg/edit?usp=sharing" class="btn btn-primary">Know More</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="{% static 'img/gnss-experts/6.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Prof. Raaj Ramsankaran </h5>
      <p class="card-text"><a href="https://www.civil.iitb.ac.in/~ramsankaran/">Linkedin</a></p>
      <a href="https://docs.google.com/spreadsheets/d/1RVgEe6BWJklgcuN0FLdZtS4k61j8pP1i1AuPLWI2bhg/edit?usp=sharing" class="btn btn-primary">Know More</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="{% static 'img/gnss-experts/7.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Prof. Indu J</h5>
      <p class="card-text"><a href="https://www.climate.iitb.ac.in/?page_id=2089">Linkedin</a></p>
      <a href="https://docs.google.com/spreadsheets/d/1RVgEe6BWJklgcuN0FLdZtS4k61j8pP1i1AuPLWI2bhg/edit?usp=sharing" class="btn btn-primary">Know More</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="{% static 'img/gnss-experts/8.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Prof. Eswar Rajasekaran</h5>
      <p class="card-text"><a href="https://sites.google.com/site/erajaseka/welcome">Linkedin</a></p>
      <a href="https://docs.google.com/spreadsheets/d/1RVgEe6BWJklgcuN0FLdZtS4k61j8pP1i1AuPLWI2bhg/edit?usp=sharing" class="btn btn-primary">Know More</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="{% static 'img/gnss-experts/9.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Bhardwaj, Alok</h5>
      <p class="card-text"><a href="https://civil.iitr.ac.in/CE?Uid=alok.bhardwaj">Linkedin</a></p>
      <a href="https://docs.google.com/spreadsheets/d/1RVgEe6BWJklgcuN0FLdZtS4k61j8pP1i1AuPLWI2bhg/edit?usp=sharing" class="btn btn-primary">Know More</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="{% static 'img/gnss-experts/10.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Garg, Rahul Dev</h5>
      <p class="card-text"><a href="https://civil.iitr.ac.in/CE?Uid=garg_fce">Linkedin</a></p>
      <a href="https://docs.google.com/spreadsheets/d/1RVgEe6BWJklgcuN0FLdZtS4k61j8pP1i1AuPLWI2bhg/edit?usp=sharing" class="btn btn-primary">Know More</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="{% static 'img/gnss-experts/11.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Garg, Pradeep Kumar</h5>
      <p class="card-text"><a href="https://civil.iitr.ac.in/CE?Uid=gargpfce">Linkedin</a></p>
      <a href="https://docs.google.com/spreadsheets/d/1RVgEe6BWJklgcuN0FLdZtS4k61j8pP1i1AuPLWI2bhg/edit?usp=sharing" class="btn btn-primary">Know More</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="{% static 'img/gnss-experts/12.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Jain Kamal</h5>
      <p class="card-text"><a href="https://civil.iitr.ac.in/CE?Uid=kjainfce">Linkedin</a></p>
      <a href="https://docs.google.com/spreadsheets/d/1RVgEe6BWJklgcuN0FLdZtS4k61j8pP1i1AuPLWI2bhg/edit?usp=sharing" class="btn btn-primary">Know More</a>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}

<script>

</script>

{% endblock %}